* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form-modal {
    position: relative;
    width: 90%;
    height: 50rem;
    margin-top: 4em;
    left: 50%;
    transform: translateX(-50%);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1)
}

.form-toggle {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: #f9f9f9;
}

.form-toggle button {
    cursor: pointer;
    background: #f9f9f9;
    width: 33.33%;
    height: 100%;
    float: left;
    border: none;
    transition: 0.2s;
    font-size: 1.1em;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
}


#aktivne-toggle {
    background: #333;
    color: #ffb266;
}



.divaktivne {
    background: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.divizvrsene {
    background: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}

.divodbijene {
    background: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    display: none;
}


p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}



a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}

.content {
    padding: 1rem;
    background-color: #3c373e;
    height: 45rem;
    width: 100%;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius: 20px;
}

h2 {
    font-size: 20px;
    color: #fff;
}

.table {
    margin-top: 3rem; 
    min-width: 90%;
}

.table thead tr,
.table thead th {
    padding-top: 10px;
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #fff;
    font-size: 13.5px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.table tbody th,
.table tbody td {
    color: #777;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.table tbody th small,
.table tbody td small {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
}

.table tbody th a,
.table tbody td a {
    color: rgba(255, 255, 255, 0.3);
}

.table tbody th .more,
.table tbody td .more {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.table tbody tr:hover td,
.table tbody tr:focus td {
    color: #fff;
}

.table tbody tr:hover td a,
.table tbody tr:focus td a {
    color: #ffb266;
}

.table tbody tr:hover td .more,
.table tbody tr:focus td .more {
    color: #ffb266;
}

.table .td-box-wrap {
    padding: 0;
}

.table .box {
    background: #fff;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.table .box td,
.table .box th {
    border: none !important;
}






a {
    text-decoration: none;
}

.container {
    margin-right: 8%;
    margin-left: 10%;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

/*header*/
.header {
    padding: 12px 0;
    line-height: normal;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}

.header .logo,
.header .nav {
    padding: 0 15px;
}

.header .logo a {
    font-size: 30px;
    color: #ffb266;
    text-transform: capitalize;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 100px;
}

.header .nav ul li a {
    display: block;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
    color: #ebebeb;
    padding: 10px 0;
    transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
    color: #ffb266;
}

.nav-toggler {
    height: 34px;
    width: 44px;
    color: #ffb266;
    background-color: #ffb266;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    display: none;
    margin-right: 15px;
}

.nav-toggler:focus {
    outline: none;
    box-shadow: 0 0 15px black;
}

.nav-toggler span {
    height: 2px;
    width: 20px;
    background-color: #333;
    display: block;
    margin: auto;
    position: relative;
    transition: all 0.3s ease;
}

.nav-toggler.active span {
    background-color: transparent;
}

.nav-toggler span::before,
.nav-toggler span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    transition: all 0.3s ease;
}

.nav-toggler span::before {
    transform: translateY(-6px);
}

.nav-toggler.active span::before {
    transform: rotate(45deg);
}

.nav-toggler span::after {
    transform: translateY(6px);
}

.nav-toggler.active span::after {
    transform: rotate(135deg);
}

@media(max-width:850px) {
    .text {
        justify-content: center;
        align-content: center;
    }

    .nav-toggler {
        display: block;
    }

    .header .nav {
        width: 100%;
        padding: 0;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }

    .header .nav.open {
        visibility: visible;
    }

    .header .nav ul {
        padding: 12px 15px 0;
        margin-top: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .header .nav ul li {
        display: block;
        margin: 0;
    }
}